.margin-30{
    margin: 30px;
}

.game_canvas{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    -webkit-box-shadow: -2px -2px 36px 0px rgba(255, 0, 0, 0.69);
    -moz-box-shadow: -2px -2px 36px 0px rgba(255, 0, 0, 0.69);
    box-shadow: -2px -2px 36px 0px rgba(255, 0, 0, 0.69);
}

.text_center{
    text-align: center;
}

body{
    background-color: black;
}

.white_text{
    color: rgba(255, 0, 0, 0.69);
}